body {
	font: 24px Helvetica;
	background: #000;
}

#main {
	min-height: 800px;
	margin: 0px;
	padding: 0px;
	display: flex;
    flex-flow: column;
}

#main > header {
    display: flex;
}

#main > article {
	margin: 4px;
	padding: 5px;
	border: 1px solid #434343;
	border-radius: 7pt;
	background: #111111;
	flex: 3 1 80%;
	order: 2;
}

#main > nav {
	margin: 4px;
	padding: 5px;
	flex: 1 6 20%;
	order: 1;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	a {
		flex-grow: 1;
	}
}

footer {
    display: block;
}

header, footer {
	margin: 4px;
	padding: 5px;
	min-height: 100px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}
